.vs/MovieRental/copilot-chat/61f8b867/sessions/c2e577f3-be2f-4512-925b-5e26bd43e95f
.vs/MovieRental/CopilotIndices/18.0.981.45449/CodeChunks.db
.vs/MovieRental/CopilotIndices/18.0.981.45449/CodeChunks.db-shm
.vs/MovieRental/FileContentIndex/c65711b8-a286-4b2b-a078-78ef2f45381e.vsidx
MovieRental/obj/Debug/net8.0/MovieRental.sourcelink.json
.vs/MovieRental/v18/DocumentLayout.json
.vs/MovieRental/v18/DocumentLayout.backup.json
.vs/MovieRental/v18/.suo
.vs/MovieRental/DesignTimeBuild/.dtbcache.v2
.vs/MovieRental/CopilotIndices/18.0.981.45449/SemanticSymbols.db-wal
.vs/MovieRental/CopilotIndices/18.0.981.45449/SemanticSymbols.db-shm
.vs/MovieRental/CopilotIndices/18.0.981.45449/SemanticSymbols.db
.vs/MovieRental/CopilotIndices/18.0.981.45449/CodeChunks.db-wal
